.text {
    min-width: 500px;
    min-height: 100px;
    font-size: calc(10px + 2vmin);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    font-family: Kameron;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
}

.resultBox {
    border-radius: 5px;
  background-color: #68b86a;
  padding: 20px;
  margin-top: 20px;
  font-family: Kameron;
}



.startButton:hover {background-color: #7f837f}
.stopButton:hover {background-color: #7f837f}
.resetButton:hover {background-color: #7f837f}
.buildButton:hover {background-color: #7f837f}

.startButton {
    padding: 15px 25px;
    margin-right: 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3e8e41 ;
    border: none;
    font-family: Kameron;
}

.stopButton {
    padding: 15px 25px;
    margin-right: 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8e3e3e ;
    border: none;
    font-family: Kameron;
}

.resetButton {
    padding: 15px 25px;
    margin-right: 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8e5e3e ;
    border: none;
    font-family: Kameron;
}

.button {
    padding: 15px 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3e8e41 ;
    border: none;
    font-family: Kameron;
}

.startButton:active {
    background-color: #3e8e41;

    transform: translateY(4px);
}

.stopButton:active {
    background-color: #3e8e41;

    transform: translateY(4px);
}

.resetButton:active {
    background-color: #3e8e41;

    transform: translateY(4px);
}

