.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  color: #fdfdfd;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover{
    animation: App-amp-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  
  }
  100% {
    transform: rotate(0deg);

  }
}

@keyframes App-amp-spin {
  0% {
    transform: rotate(0deg);
  
  }
  100% {
    transform: rotate(0deg);

  }
}

.Instructions{
  color: black;
}